@model Indotalent.Purchase.PurchaseOrderPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 0px solid;
        padding: 5px;
    }

    .no-border {
        border: none;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .monospace {
        font-family: 'Courier New', Courier, monospace;
    }

    .no-break {
        page-break-inside: avoid;
    }
</style>

<section class="invoice" style="border: 1px solid">
<div class="row logo-info" style="display: flex; align-items: center; height:101px">
    <div class="col-sm-6 invoice-col" style="flex: 1; text-align: left; padding-top:1px;padding-left:40px">
            @if (!String.IsNullOrWhiteSpace(Model.Company.Logo))
        {
                <img src="@($"/upload/{Model.Company.Logo}")" height="100" width="180" />
        }
    </div>
    <div class="col-sm-6 invoice-col" style="flex: 1; text-align: center;">
        <h2 class="page-header" style="margin: 0;">
            <br><br>
            PURCHASE ORDER
        </h2>
    </div>
</div>

<div class="row invoice-info" style="border: 1px solid">
    <div class="col-sm-4 invoice-col" style="border-right: 1px solid #000;">
        <b>&nbsp;&nbsp;&nbsp;&nbsp;From</b>
        <address>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.TenantName</strong><br>
            &nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.Street<br>
            &nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.City @Model.Company.StateName @Model.Company.ZipCode<br>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;GST:</b> @Model.Company.GSTNumber<br>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;Phone:</b> @Model.Company.Phone<br>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;Email:</b> @Model.Company.Email
        </address>
    </div>
    <div class="col-sm-4 invoice-col" style="border-right: 1px solid #000;">
        <b>To Supplier/Vendor</b>
        <address>
            <strong>@Model.Vendor.Name</strong><br>
            @Model.Vendor.Street<br>
            @Model.Vendor.City @Model.Vendor.StateName @Model.Vendor.ZipCode<br>
            <b>GST:</b> @Model.Vendor.GSTNumber<br>
            <b>Phone:</b> @Model.Vendor.Phone<br>
            <b>Email:</b> @Model.Vendor.Email
        </address>
    </div>
    <div class="col-sm-4 invoice-col">
        <b>Ship To</b><br><br>
        @Model.Header.DispatchedTo
    </div>
</div>

<div class="row order-info">
    <div class="col-sm-4 invoice-col" style="border-bottom: 1px solid #000;">
        <b>&nbsp;&nbsp;&nbsp;&nbsp;Order Number:</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp;@Model.Header.Number
    </div>
    <div class="col-sm-4 invoice-col" style="border-bottom: 1px solid #000;">
        <b>Order Date:</b><br>
        @Model.Header.OrderDate.Value.ToShortDateString()
    </div>
    <div class="col-sm-4 invoice-col" style="border-bottom: 1px solid #000;">
        <b>Amount Order:</b><br>
        @Model.Company.Currency @Model.Header.Total.Value.ToString("#,##0.00")
    </div>
</div>


    <table>
        <thead>
            <tr>
                <th rowspan="2">SN</th>
                <th rowspan="2">Item</th>
                <th rowspan="2">HSN</th>
                <th rowspan="2">Price</th>
                <th rowspan="2"> Qty</th>
                <th rowspan="2">Disc.</th>
                @if (Model.Details.Any(d => d.IGST > 0))
                {
                    <th colspan="2" class="text-center">IGST</th>
                }
                else
                {
                    <th colspan="2" class="text-center">CGST</th>
                    <th colspan="2" class="text-center">SGST</th>
                }
                <th rowspan="2">Total</th>
            </tr>
            <tr>
                @if (Model.Details.Any(d => d.IGST > 0))
                {
                    <th class="text-center">%</th>
                    <th class="text-center">Amt</th>
                }
                else
                {
                    <th class="text-center">%</th>
                    <th class="text-center">Amt</th>
                    <th class="text-center">%</th>
                    <th class="text-center">Amt</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int SN = 1;
            }
            @foreach (var d in Model.Details)
            {
                <tr>
                    <td>@SN</td>
                    <td>@d.ProductName</td>
                   @*  <td>@d.ProductName<br><p style="font-style: italic;">@d.Description</p></td> *@

                    <td>@(d.InternalCode)</td>
                    <td class="monospace">@d.Price.ToStringDefault("#,##0.00")</td>
                    <td class="monospace">@d.Qty.ToString()</td>
                    <td class="monospace">@d.Discount.ToStringDefault("#,##0.00")</td>

                    @if (d.IGST > 0)
                    {
                        <td class="monospace">@d.IGST.ToStringDefault("#,##0.00")</td>
                        <td class="monospace">@d.IGSTAmount.ToStringDefault("#,##0.00")</td>
                    }
                    else
                    {
                        <td class="monospace">@d.CGST.ToStringDefault("#,##0.00")</td>
                        <td class="monospace">@d.CGSTAmount.ToStringDefault("#,##0.00")</td>
                        <td class="monospace">@d.SGST.ToStringDefault("#,##0.00")</td>
                        <td class="monospace">@d.SGSTAmount.ToStringDefault("#,##0.00")</td>
                    }
                    <td class="monospace">@((d.BeforeTax + d.TaxAmount).ToStringDefault("#,##0.00"))</td>
                </tr>
                SN++;
            }
        </tbody>
    </table>

    <div class="row no-break">
        <div class="col-xs-6">
            <p class="lead"> &nbsp;&nbsp;&nbsp;&nbsp;<b>Summary, in currency</b> @Model.Company.Currency</p>
            <div class="table-responsive">
                <table class="table">
                    @*   <tr>
                    <th style="width:50%">Subtotal:</th>
                    <td>@Model.Header.SubTotal.Value.ToString("#,##0.00")</td>
                    </tr> *@
                    <tr>
                        <th>Subtotal:</th>
                        <td>@Model.Header.BeforeTax.Value.ToString("#,##0.00")</td>
                    </tr>
                    <tr>
                        <th>Tcs/Tds Tax Amount:</th>
                        <td>@Model.Header.TcsTdsTaxAmount.Value.ToString("#,##0.00")</td>
                    </tr>
                    <tr>
                        <th>Discount:</th>
                        <td>@Model.Header.Discount.Value.ToString("#,##0.00")</td>
                    </tr>

                <tr>
                    <th>GST Tax Amount:</th>
                    <td>@Model.Header.TaxAmount.Value.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <th>Other Charges:</th>
                    <td>@Model.Header.OtherCharge.Value.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <th>Before Total TDS/TCS:</th>
                    <td>@Model.Header.Total.Value.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>@Model.Header.FinalTotalPostTDS_TCS.Value.ToString("#,##0.00")</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="col-xs-6" style="padding:25px">
        <br><br><br><br>
        <div class="col-xs-6">

            <div style="width: 200%; height: 70%; border: 1px solid #000;">
                <br><br><br><br><br><br><br><br>
            </div>
            <div style="width: 200%; height: 30%; border: 1px solid #000; text-align:center;">
                <b>Authorized signatory</b>
            </div>
        </div>
    </div>
</div>
</section>
