@model Indotalent.Purchase.PurchaseReturnPrintData


@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 0px solid;
        padding: 5px;
    }

    .no-border {
        border: none;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .monospace {
        font-family: 'Courier New', Courier, monospace;
    }

    .no-break {
        page-break-inside: avoid;
    }
</style>
<section class="invoice" style="border: 1px solid">
    <div class="row logo-info" style="display: flex; align-items: center; height:101px">
        <div class="col-xs-12 invoice-col" style="flex: 1; text-align: left; padding-top:1px;padding-left:40px">
            @if (!String.IsNullOrWhiteSpace(Model.Company.Logo))
            {
                <img src="@($"/upload/{Model.Company.Logo}")" height="100" width="180" />

            }
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header text-center">
                PURCHASE RETURN (DO OUTBOUND)
                <small class="pull-right" style="padding-right:5px"><b>Print at:</b> @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
   
   <br>
    <div class="row bill-info" style="border: 1px solid">

        <!-- /.col -->
        <div class="col-xs-6 bill-col" style="border-right: 1px solid #000;">
            <b>&nbsp;&nbsp;&nbsp;&nbsp;From</b>
            <address>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.TenantName</strong><br>

                &nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.Street<br>
                &nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.City @Model.Company.StateName @Model.Company.ZipCode<br>
                
                <b> &nbsp;&nbsp;&nbsp;&nbsp;Phone:</b> @Model.Company.Phone<br>
                <b> &nbsp;&nbsp;&nbsp;&nbsp;Email:</b> @Model.Company.Email<br>
                <b> &nbsp;&nbsp;&nbsp;&nbsp;GST:</b> @Model.Company.GSTNumber
            </address>
        </div>

        <!-- /.col -->
        <div class="col-xs-6 bill-col" style="border-right: 1px solid #000;">
            <b> To</b>
            <address>
                <strong>@Model.Vendor.Name</strong><br>

                @Model.Vendor.Street<br>
                @Model.Vendor.City @Model.Vendor.StateName @Model.Vendor.ZipCode<br>
                <b> Phone:</b> @Model.Vendor.Phone<br>
                <b>  Email: </b>@Model.Vendor.Email<br>
                <b>  GST:</b> @Model.Vendor.GSTNumber
               
            </address>

        </div>
 
    </div>
   

    <div class="row order-info">

        <div class="col-xs-3 billorder-col" style="border-right: 1px solid #000;">
            <b>  &nbsp;&nbsp;&nbsp;&nbsp; Return Number:</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;@Model.Header.Number
        </div>
        
        <div class="col-xs-3 billorder-col" style="border-right: 1px solid #000;">
            <b> Return Date:</b><br>
            @Model.Header.ReturnDate.Value.ToShortDateString()
        </div>
       
        <div class="col-xs-3 billorder-col" style="border-right: 1px solid #000;">
            <b>   Purchase Receipt:</b><br>
            @Model.Header.PurchaseReceiptNumber
        </div>
       
        <div class="col-xs-3 billorder-col">
            <b>Total QtyReturn:</b><br>
            @Model.Header.TotalQtyReturn<br>
        </div>
      

    </div>
            <table>
                <thead>
                    <tr>
                        <th style="border: 1px solid">SN</th>
                        <th style="border: 1px solid">Item</th>
                        <th style="border: 1px solid">Qty</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int SN = 1;
                    }
                    @foreach (var d in Model.Details)
                    {
                        <tr>
                        <td><b>@SN</b></td>
                            <td>@d.ProductName  </td>
                            <td>@(d.QtyReturn.ToStringDefault())</td>
                        </tr>
                        SN++;
                    }
                </tbody>
            </table>
    
    <div class="row no-break" style="padding-left:5px;padding-right:5px;">
        <div class="col-xs-6">

        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead"><b>Summary</b></p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Total QtyReturn:</th>
                        <td>@Model.Header.TotalQtyReturn</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left:5px;padding-right:5px;">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Returned By</th>
                        <th class="text-center">Approved By (Outbound Manager)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                        <td>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>