@model Indotalent.Inventory.NegativeAdjustmentPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<section class="invoice" style="border: 1px solid">
   
    <div class="row">
        <div class="col-xs-12">
            <h4 style="text-align:right;padding-right:5px;">
                <small><b>Print at:</b> @DateTime.Now.ToShortDateString()</small>
            </h4>
            <h2 class="page-header text-center">
                ADJUSTMENT (NEGATIVE)
            </h2>

        </div>
    </div>
    <div class="row invoice-info" style="border: 1px solid">

        <!-- /.col -->
        <div class="col-sm-4 invoice-col" style="border-right: 1px solid #000;">
           
            <b>&nbsp;&nbsp;&nbsp;&nbsp;Project:</b><br>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;@Model.Header.ProjectName</b>
           
        </div>

        <!-- /.col -->
        <div class="col-sm-4 invoice-col" style="border-right: 1px solid #000;">
            <b>Warehouse:</b><br>
            <b>@Model.Header.WarehouseName</b>

        </div>

        <div class="col-sm-4 invoice-col">
            <b>Location:</b><br>
            <b>@Model.Header.LocationName</b>
        </div>

    </div>
    <br>
    <div row order-info" style="text-align:center">
        <b> Adjustment Details:</b>
    </div>
    <div class="row order-info" style="border: 1px solid">

        <!-- /.col -->
        <div class="col-sm-4 invoice-col" style="border-right: 1px solid #000;">
            <b>  &nbsp;&nbsp;&nbsp;&nbsp;Adjustment Number:</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;@Model.Header.Number
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col" style="border-right: 1px solid #000;">
            <b> Adjustment Date:</b><br>
            @Model.Header.AdjustmentDate.Value.ToShortDateString()
        </div>
        <div class="col-sm-4 invoice-col">
            <b>Total Qty:</b><br>
            @Model.Header.TotalQty
        </div>

        <!-- /.col -->
    </div>


    <br>
   
    <!-- Table row -->
    <div class="row" style="padding-left:5px;padding-right:5px;">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped" style="border: 1px solid;">
                <thead>
                    <tr>
                        <th style="border: 1px solid">SN</th>
                        <th style="border: 1px solid">Product Name</th>
                        <th style="border: 1px solid">Adjustment Qty</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int SN = 1;
                    }
                    @foreach (var d in Model.Details)
                    {
                        <tr>

                            <td style="border: 1px solid">@SN</td>
                            <td style="border: 1px solid"><b>@d.ProductName</b></td>
                            <td style="border: 1px solid">@(d.Qty.ToStringDefault())</td>

                        </tr>
                        SN++;
                    }
                </tbody>
            </table>
           
        </div>
        <!-- /.col -->
    </div>

 
    <div class="row" style="padding-left:5px;padding-right:5px;">
        <div class="col-xs-6">

        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead"><b>Summary</b></p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Total Qty:</th>
                        <td>@Model.Header.TotalQty</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left:5px;padding-right:5px;">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Prepared By</th>
                        <th class="text-center">Approved By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                        <td>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</section>
